* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    min-height: 100vh;
    flex-grow: 1;
}

header{
    background-color: #223cff;
    height: 4rem;
    display: flex;
    align-items: center;
    color: white;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header span{
    font-family: 'Hedvig Letters Sans', sans-serif;
    background: linear-gradient(to right, #1ba119, #1ba119 30%, #2196F3 30%, #2196F3 52.5%, #FFEB3B 52.5%, #FFEB3B 71.5%, #FF5722 71.5%, #FF5722);
    border-radius: 0.2rem;
}

header h1{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3rem;
}

footer{
    font-family: sans-serif;
    text-align: center;
    height: 2rem;
    width: 100%;
    display: inline-block;
}

footer p {
    color: #ccc;
}

.inputForm{
    position: relative;
    width: 40%; 
    margin: 3% auto 20px auto;
    background: #FFF;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(43, 52, 153, 0.879);
}

.inputForm input, .inputForm textarea{
    width: 100%;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-size: larger;
    padding: 4px;
    border: none;
    outline: none;
    resize: none;
    overflow:hidden;
    background: transparent;
}

.addButton{
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #223cff;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.noteCard {
    position: relative;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 10px;
    /* max-width: 20%; */
    min-width: 240px;
    margin: 16px;
    float: left;
    font-family: 'Hedvig Letters Sans', sans-serif;
    /* z-index: -1; */
    justify-items: center;
}
.noteCard h2 {
    font-size: 1.5rem;
    margin-bottom: 6px;
}
.noteCard p {
    font-size: 1.25rem;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

.noteForm{
    position: relative;
    width: 100%;
}

.noteForm input, .noteForm textarea{
    width: 100%;
    font-family: 'Hedvig Letters Sans', sans-serif;
    border: none;
    outline: none;
    resize: none;
    overflow:hidden;
    background: transparent;
}

.editNoteTitle {
    font-size: 1.5em;
    margin-bottom: 6px;
    font-weight: bold;
}
.editNoteContent {
    font-size: 1.25em;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}


.notecardDBtn button{
    position: absolute;
    right: 18px;
    bottom: -18px;
    background-color: #f46118;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.notecardDBtn button:hover{
    background-color: #ff0000;
}

.notecardEBtn button{
    position: absolute;
    right: 64px;
    bottom: -18px;
    background-color: #1ba119;
    color: #fff;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.notecardEBtn button:hover{
    background-color: #223cff;
    color: white;
}

.addButton:hover:active{
    background-color: rgb(4, 1, 207);
    padding-top: 4px;
}

.themeButton:hover:active{
    background: linear-gradient(to left, #1ba119, #1ba119 25%, #2196F3 25%, #2196F3 50%, #FFEB3B 50%, #FFEB3B 75%, #FF5722 75%, #FF5722);;
    padding-top: 4px;
}


.themeButton{
    position: absolute;
    right: 64px;
    bottom: -18px;
    background: linear-gradient(to right, #1ba119, #1ba119 25%, #2196F3 25%, #2196F3 50%, #FFEB3B 50%, #FFEB3B 75%, #FF5722 75%, #FF5722);
    color: darkslategray;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.themeButton:hover{
    background-color: green;
}

.theme{
    /* position: relative; */
    /* left: 260px; */
    width: 100%; 
    margin: 0.5% 0.5% 0.5% 0.5%;
    background: #FFF;
    padding: 5px;    
    border-radius: 7px;
    box-shadow: 0 1px 5px rgba(43, 52, 153, 0.879);
    display: flex;
    align-items: center;
}

.themeColor{
    position: relative;
    width: 46px;
    height: 46px;
    margin: 2px;
    border-radius: 38%;
    border: none;
    /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.7); */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}

#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#lightblue{
    background-color: lightblue;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#pink{
    background-color: pink;
}

.themeColor:hover{
    width: 42px;
    height: 42px;
    outline: none;
    cursor: pointer;
    margin: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.themetext-black{
    background-color: white;
    color: black;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-size: larger;
}

.themetext-white{
    background-color: black;
    color: white;
    font-family: 'Hedvig Letters Sans', sans-serif;
    font-size: larger;
}

.dispayNote{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.createNoteArea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.themecontainer{
    display: flex;
    align-items: center;
    flex-shrink: 1;
}

.themeInput{
    margin: auto;
}

@media screen and (max-width: 750px){
    .inputForm {
        width: 98%;}

    .noteCard {
        min-width: 98%;
        margin: 12px;
    }

    .theme{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        width: 270px;
    }


}

@media screen and (max-width: 1050px){
    .inputForm {
        width: 75%;}
}